@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  overflow-y: scroll;
  overflow: hidden;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: black;
  height: 100dvh;
  height: 100%;
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #ffff;
}

.all-height {
  position: fixed;
  /* min-height: -webkit-fill-available;*/
  height: 100%;
}

ul {
  --tw-ring-offset-color: 0 0 #000 !important;
}

.FullScreen {
  overflow: auto;
  background-color: #ffffff;
}
